@import 'colors';
body {
    background-color: $body-bg;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .actions-container{
        float:right;
        margin-bottom: 5px;
    }
    .login-btn{
        color: $login-btn-txt-color;
        float:right;
    }
}

